html, body {
    margin: 0;
    padding: 0;
    min-width: 1050px;
}

body {
    background-color: white;
    color: black;
    margin: 0px;
    text-align: left;
    font-family: Calibri, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

div {
}

.header {
    width: 100%;
    height: 90px;
}

.logo {
    margin: 10px;
    border: 0;
}

.menu {
    width: 100%;
    background-color: #8E0045;
    height: 30px;
}

ul.menu {
    height: 30px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.menu li {
    display: inline;
    width: 150px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul.menu li.last {
    float: right;
}

ul.menu li a {
    padding: 6px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}

ul.menu li a {
    background: url(../images/btn_bg.png) repeat 0 -180px;
}

ul.menu li a:hover {
    background-position: 0 0;
}

div._content {
    margin: 20px 60px;
}

div._content p.first {
    font-weight: bold;
}

img.logo {
    height: 70px;
    width: 289px;
}

.about {
    float: right;
}

#slideshow {
    margin: auto;
    height: 250px;
    width: 250px;
}

#slideshow img {
    border: 5px black solid;
    border-radius: 5px;
    margin: 0;
    margin-left: 20px;
}

div.footer {
    width: 100%;
    margin-top: 175px;
    padding-top: 10px;
    border-top: 1px #8E0045 solid;
    font-family: Calibri helvetica sans-serif;
    font-size: 10px;
    color: gray;
}

div.footer span {
    padding: 5px;
}

div.footer img {
    border: 0;
    padding-left: 5px;
    position: relative;
    top: 2px;
}

div.footer .loc-bar {
    text-align: left;
    font-family: Calibri, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline;
}

div.footer .loc-bar span{
    vertical-align: middle;
    padding-left: 5px;
    color: #8E0045;
}

div.footer .loc-bar a,
div.footer .loc-bar a:active,
div.footer .loc-bar a:hover,
div.footer .loc-bar a:visited
{
    text-decoration: none;
}

.buttons {
}

.buttons img {
    border: 0;
    height: 100px;
    width: 600px;
}

.buttons .img_wrapper {
    margin-bottom: 10px;
    border:5px #000000 solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

div.testimonial {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;
}

div.testimonial blockquote {
    margin-left:100px;
    margin-right:auto;
    width: 600px;
}

div.testemonial blockquote p {
    color: black;
}

div.testemonial blockquote p:first-letter {
    font-size: 200%;
    color: #8E0045;
}

.testimonial span {
    display: block;
    text-align: right;
    color: #8E0045;
    font-style: italic;
}

span.highlight {
    color: #8E0045;
}

table td {
    vertical-align: text-top;
    padding-right: 20px;
}

div#contact a,
div#contact a:active,
div#contact a:hover,
div#contact a:visited {
    color: #8E0045;
    text-decoration: underline;
}